.image-row {
    display: flex;
    justify-content: center;
    gap: 20px; /* Espace entre les images */
  }
  .image-row img {
    width: 200px;
  }
  body{background-color: gainsboro;}
  #noeud{
    background-color: whitesmoke;
    position: relative;
    top: 230px;
  }
  #fin{
    position: relative;
    top: 400px;
  }
  #-500px{position: relative;
top: 500px;}